// Limit brand image size
.brand
  padding-top: 5px
  padding-bottom: 5px
  > img
    height: 40px
  > samp
    padding-left: 5px
    padding-right: 15px

.jumbotron.shell
  background-color: #00212a

  img
    max-height: 25%

  p
    color: #a17500

  .text-faded
    color: #344742
